NEXT_PUBLIC_API_BASE_URL=https://stageway-lste.onrender.com
NEXT_PUBLIC_EVENT_API_BASE_URL=https://stageway-lste.onrender.com
NEXT_PUBLIC_USER_API_BASE_URL=https://stageway-lste.onrender.com
NEXT_PUBLIC_EVENT_WS_URL=https://stageway-lste.onrender.com/ws
NEXT_PUBLIC_FILE_API_BASE_URL=https://stageway-lste.onrender.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
