NEXT_PUBLIC_EVENT_API_BASE_URL=http://localhost:8081
NEXT_PUBLIC_USER_API_BASE_URL=http://localhost:8081
NEXT_PUBLIC_EVENT_WS_URL=ws://localhost:8081/ws
NEXT_PUBLIC_FILE_API_BASE_URL=http://localhost:8081
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
