<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="TreeWalker">
    <module name="UnusedImports"/>
    <module name="RedundantImport"/>
    <module name="IllegalImport"/>
    <module name="AvoidStarImport"/>
    <module name="NeedBraces"/>
    <module name="EmptyBlock"/>
    <module name="LeftCurly"/>
    <module name="RightCurly"/>
    <module name="MethodLength">
      <property name="max" value="220"/>
      <property name="skipConstructor" value="true"/>
    </module>
    <module name="ParameterName">
      <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
    </module>
    <module name="MemberName">
      <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
    </module>
    <module name="ConstantName"/>
    <module name="FinalLocalVariable"/>
    <module name="RegexpMultiline">
      <property name="format" value="System\\.out\\.print|System\\.err\\.print"/>
      <property name="message" value="Avoid using System.out/err logging, use the logger instead."/>
      <property name="ignoreComments" value="true"/>
    </module>
  </module>
  <module name="LineLength">
    <property name="max" value="120"/>
  </module>
</module>
